 body {
  background-color: #3b4252;
  color: #eceff4;
}

.card {
  background-color: #4c566a!important;
  color: #eceff4!important;  
}

.display-3{
  font-weight: bold;
  text-shadow: 4px 4px #bf616a;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  height: 100vh;
  background: url("media/background.jpg") no-repeat center;
}

.jumbotron {
  color: #eceff4;
}

.jumbotron > div,
.jumbotron > div > div {
  height: 100%;
}

.footer {
  background-color: #434c5e;
  color: #e5e9f0;
}

.height-25 {
  height: 25rem;
}

.headerfooter {
 background-color: #2e3440;
}

.copyright {
  margin: 0;
}

.btn-primary .btn-secondary{
  color: #eceff4!important;
}

.btn-primary {
  background-color: #5e81ac!important;
  border-color: #5e81ac!important;
}

.btn-secondary{
  background-color: #3b4252!important;
  border-color: #3b4252!important;
}

.card-img-top{
  transition: filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(70%);
}

.card:hover .card-img-top{
  filter: brightness(100%);
}

.imgdiv{
  margin-bottom: 5px;
  overflow: hidden;
}

  .flex-item .staticImgLib{
  cursor: pointer;
}


.imgdiv p{
  position: absolute;
  transform: rotate(-45deg);
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 0.1rem 0.1rem #424db8;
  z-index: 1;
}

.imgdiv img{
  transition: transform .5s ease;
}

.imgdiv:hover img{
  transform: scale(1.1);
  z-index: 999;
}

.flex-wrapper{
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  text-align: center;
}

.flex-item {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-item p{
  margin-left: 1px;
  margin-right: 1px;
}


.imgrow{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}